<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyranxi.link.user.mapper.StoreMapper">


    <select id="selectTenantCreatedStoreCount" resultType="java.lang.Integer">
        select *
        from store
        where tenant_id = #{tenantId}
          and deleted = 0
    </select>
</mapper>
