<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyranxi.link.user.mapper.TenantMapper">


    <select id="getTenantAllStores" resultType="com.lyranxi.link.user.token.UserTenantInfo">
        select t.id   as tenantId,
               t.name as tenantName,
               b.id   as brandId,
               b.name as brandName,
               s.id   as storeId,
               s.name as storeName
        from tenant t
                 left join brand b on b.tenant_id = t.id
                 left join store s on s.brand_id = b.id
        where t.id = #{tenantId}
          and s.deleted = 0
          and b.deleted = 0
          and t.deleted = 0
    </select>

    <select id="getBrandAllStores" resultType="com.lyranxi.link.user.token.UserTenantInfo">
        select t.id   as tenantId,
               t.name as tenantName,
               b.id   as brandId,
               b.name as brandName,
               s.id   as storeId,
               s.name as storeName
        from brand b
                 left join store s on s.brand_id = b.id
                 left join tenant t on t.id = b.tenant_id
        where b.id = #{brandId}
          and s.deleted = 0
          and b.deleted = 0
          and t.deleted = 0
    </select>

    <select id="getStore" resultType="com.lyranxi.link.user.token.UserTenantInfo">
        select t.id   as tenantId,
               t.name as tenantName,
               b.id   as brandId,
               b.name as brandName,
               s.id   as storeId,
               s.name as storeName
        from store s
                 left join brand b on b.id = s.brand_id
                 left join tenant t on t.id = b.tenant_id
        where s.id = #{storeId}
          and s.deleted = 0
          and b.deleted = 0
          and t.deleted = 0
    </select>

</mapper>
