<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyranxi.link.user.mapper.PermissionMapper">
    <update id="batchUpdateById">
        <foreach collection="permissions" item="item" open="(" separator="," close=")">
            update permission set api_name = #{item.apiName},api_path = #{item.apiPath},api_method =
            #{item.apiMethod},whitelist = #{item.whitelist},scope = #{item.scope},author = #{item.author}
            where id = #{item.id}
        </foreach>
    </update>

    <select id="selectAll" resultType="com.lyranxi.link.user.entity.Permission">
        select * from permission
    </select>
</mapper>
